.contact-div input {
  width: 200px;
  height: 30px;
  border-radius: 40px;
  padding: 2px 10px;
  outline: none;
  margin: 5px;
}

.contact-div {
  min-height: 85.8vh;

}

textarea#msg {
  width: 90%;
  margin: 5px;
  border-radius: 20px;
}

.contact-div button {
  width: 100px;
  height: 40px;
  padding: 0px;
  margin: 10px;
  border-radius: 10px;
  color:white;
  background-color:dodgerblue;
  font-weight: 600;
}
.name-div {
  text-align: center;
  position: absolute;
  width: 100%;
  top: calc(50px + 30vh + 15vh);
}

.Nav {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 50px;
  background-color: #232425;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-around;
}

.link {
  text-decoration: none;
  font-weight: 900;
  color: white;
  padding: 0.5% 1%;
  border-radius: 5px;
  margin: 0;
}

.link:hover {background-color: #6c757d;color: white;}

div#root {
  margin: 0;
  padding: 0;
}

.Home {
  margin: 0;
  min-height: 100vh;
  padding: 0;
}

img.bgImage {
  width: 100%;
  height: 30vh;
}

img.profile-Image {
  /* width: 50%; */
  height: 30vh;
  position: relative;
  z-index: 1;
  transform: translate(0%, -50%);
  margin: 0px auto;
  display: block;
}

.Projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-evenly;
}
.Home h3 {
  border-bottom: 3px solid #0d6efd;
  font-weight: 900;
  margin: 10px;
}

.About p {margin: 20px 15px 20px 30px;}

.Home ul {
  /* margin: 20px; */
  list-style: inside;
  list-style-type: circle;
  font-weight: 500;
}

h1 {font-weight: 900;}

h2 {
  font-weight: 900;
}
h4 {
  margin: 0px 30px;
  font-size: 15px;
}

.Education h1 {
  margin: 20px auto;
  display: table;
  font-weight: 900;
  font-style: italic;
  text-decoration: 3px double dodgerblue underline;
}

.Education h3 {
  font-variant: all-small-caps;
  margin: 20px;
  border-bottom: 4px solid dodgerblue;
}

.Projects button {
  background: royalblue;
  color: white;
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px 0px black;
}

.Projects button:hover {background: rgb(65 105 225 / 50%);color: black;}

.MuiTypography-root.MuiTypography-h5.MuiTypography-gutterBottom.css-h93ljk-MuiTypography-root {
  font-weight: 900;
}

p.MuiTypography-root.MuiTypography-body2.css-r40f8v-MuiTypography-root {
  font-weight: 600;
}

.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiCard-root.css-1ri6ub7-MuiPaper-root-MuiCard-root {
  box-shadow: 2px 2px 10px 2px black;
}
#root{
  min-height: 100vh;
}
.Projects-div {
  min-height: 100vh;
}
.Projects-div h1 {
  text-align: center;
  font-weight: 900;
  font-style: oblique;
  text-decoration: 3px double black underline;
  padding: 10px;
}
.contact-div h1 {
  font-weight: 900;
  margin: 20px;
  text-align: center;
}
label {
  font-weight: 600;
}
.contact {width: 100%;display: flex;align-content: space-around;flex-wrap: wrap;flex-direction: row;justify-content: space-evenly;align-items: center;}
.contact-form {
  margin: 20px;
  padding: 30px;box-shadow: 3px 3px 6px 3px;border-radius: 20px;display: inline-block;}
.name-div h1 {
  font-weight: 900;
}
.name-div h2 {
  font-weight: 700;
  font-variant-caps: small-caps;
}
.Education p {
  margin: 10px 30px;
  font-weight: 500;
}
.Education h4 {font-size: 20px;}
.main-div {
  width: 80%;
  margin: 40px auto;
}
.sub-div {
  display: flex;
  justify-content: space-between;
}
img.header {
  height: 300px;
  margin: 10px 10%;
  width: 80%;
}
.footer {
  height: 80px;
  background-color: #232425;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  min-width: 100%;
}
.footer .link{
  color: dodgerblue;
  background: none;
  border: 0;
  box-shadow: 0px 0px 5px 2px;
  width: 50px;
}
.footer .link:hover{
  color: yellow;
  box-shadow: 0px 0px 5px 1px;
}
/* svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root {color: dodgerblue;}

svg.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium.css-i4bv87-MuiSvgIcon-root:hover {
  color: rgb(0, 0, 0);
  cursor: pointer;
} */
/* @media screen and (max-width:768px){
  .Nav .link{
    display: none;
  }
  .Nav .icon{
    display: block;
  }
} */